<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel Booking Landing Page</title>
    <link rel="stylesheet" href="/static/font.css" />
    <link rel="stylesheet" href="/static/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcncmKczTtjQ0Xer1AU2BEQzbL7xRNcoc">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(
            document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(
          window, 'load', initialize);
    </script>
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <div class="menu">
            <a href="{{url_for('main_index')}}">
              <div class="logo">Ski <span>Demo</span> lke</div>
            </a>
            <ul>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="myAccount">
            <div class="ctaGroup">
              <div class="cta">Sign In</div>
              <!-- <div class="cta active">Create Account</div> -->
              <div class="cta active"></div>
            </div>
          </div>
        </nav>
      </header>
      <div class="hotel_content">
        <div class="info">
          <h2>Book hotels online</h2>
          <h1>OnlyforDemo</h1>
        </div>

        <div class="booking_info">
          <div class="opt">
            <a href="{{url_for('main_index')}}">
              <span class="active">Airplane</span>
            </a>
            <a href="{{url_for('hotel_search_html')}}">
              <span>Hotel</span>
            </a>
          </div>
        <form method="POST" action="{{ url_for('hotel_search') }}">
          <div class="booking_details">
            <!-- <select name="booking_category" class="booking_category">
              <option >Hotel</option>
              <option >Airplane</option>
            </select> -->
            <div class="item">
              <i class="fa fa-search"></i>
              <!-- <input type="text" name="location" placeholder="Please enter destination" size="20" /> -->
              <select name="location" class="booking_category">
                <option >find a place</option>
                {% for item in KR_location_list %}
                  <option >{{item}}</option>
                {%endfor%}
              </select>
            </div>
            <div class="item">
              <div class="date">
                <input
                  id="theDate"
                  type="date"
                  name="start_date"
                  required
                  placeholder="Depart Date"
                  class="form-control"
                />
              </div>
              <div class="days">入住日期</div>
            </div>
            <div class="item">
              <div class="date">
                <input
                  id="theDate"
                  type="date"
                  name="end_date"
                  required
                  placeholder="Return Date"
                  class="form-control"
                />
              </div>
              <div class="days">退房日期</div>
            </div>
            <div class="item">
              <div class="people">
                adults
                <select name="adults_number" class="select_adult">
                  <option >0</option>
                  <option >1</option>
                  <option >2</option>
                  <option >3</option>
                  <option >4</option>
                  <option >5</option>
                  <option >6</option>
                  <option >7</option>
                  <option >8</option>
                  <option >9</option>
                </select>
                and rooms
                <select name="rooms" class="select_room">
                  <option >0</option>
                  <option >1</option>
                  <option >2</option>
                  <option >3</option>
                  <option >4</option>
                  <option >5</option>
                  <option >6</option>
                  <option >7</option>
                  <option >8</option>
                  <option >9</option>
                </select>
                <!-- 2 adults, 0 children <i class="fa fa-angle-down"></i> -->
              </div>
              <!-- <div class="days">1 room</div> -->
            </div>
            <div class="item">
              <input type = "submit" value="Submit" class="cta active">
              <!-- <div class="cta active">Search</div> -->
            </div>
          </div>
        </div>
        </form>
      </div>
        <main>{% block content %}{% endblock %}</main>
      
      <!-- <img src="/static/assets/cartoon/hotel.png" class="hotel" /> -->
      <!-- <img src="/static/assets/cartoon/car1.png" class="car1" />
      <img src="/static/assets/cartoon/car2.png" class="car2" />
      <img src="/static/assets/cartoon/car3.png" class="car3" />
      <img src="/static/assets/cartoon/car4.png" class="car4" /> -->
      <!-- <img src="/static/assets/cartoon/dog.gif" class="dog_1" /> -->
      <!-- <img src="/static/assets/cartoon/cloud.png" class="cloud" /> -->
      <!-- <img src="/static/assets/cartoon/cloud.png" class="cloud_2" /> -->
      <!-- <img src="/static/assets/cartoon/cloud.png" class="cloud_3" /> -->
      <!-- <img src="/static/assets/cartoon/cloud.png" class="cloud_4" /> -->
      <!-- <img src="/static/assets/cartoon/megaman.gif" class="dog_1" /> -->
      <script>
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day + "T00:00";
        document.getElementById("theDate").value = today;
      </script>
    </div>
  </body>
</html>
