{% extends "layout.html" %} {%block content%}
{% for list_first in sql_name %}
<div class="sub_title">
  <h1>{{list_first['name']}}</h1>
</div>
<div class="map_direction">
  <div class="product_colors"></div>
  <div class="hotel_detail_item">
    <div class="flight_item">
      <i class=""></i>
      <div class="hotel_name"></div>
    </div>
    <div class="hotel_item">
      <i class=""></i>
    </div>
  </div>
</div>
{% endfor%}
<div class="hotel_detail_content">
  <div id="campaigns"></div>
  {% if detail_hotel_list!=[]%}
  <div id="product-container">
    {% for list_first in sql_name %}
    <h1>{{list_first['name']}}</h1>
      <div class="map_direction">
        <div class="product_colors"></div>
        <div class="hotel_detail_item">
          <div class="flight_item">
            <i class=""></i>
            <div class="hotel_name"></div>
          </div>
          <div class="hotel_item">
            <i class=""></i>
          </div>
        </div>
      </div>
      {% endfor%} {% for list in detail_hotel_list %}
      <div class="product_details">
        <div class="product_colors"></div>
        <div class="hotel_detail_item">
          <div class="flight_item">
            <a href="{{list['hotel_url']}}" class="hotel_img">
              <img
                src="{{list['agency_logo']}}"
                border="0px"
                width="80"
                height="30"
              />
            </a>
            <i class=""></i>
            <div class="hotel_name"></div>
          </div>
          <div class="hotel_item">
            <i class=""></i>
            <div>{{list['hotel_feature']}}</div>
            <div>NT{{list['price']}}$/每晚</div>
          </div>
        </div>
        <a></a>
      </div>
      {% endfor %} {%endif%}{% endblock content %}
    </div>
  </div>
</div>
