{% extends "layout.html" %} {%block content%}
<div id="campaigns"></div>
{% if hotel_list!=[]%}
<div id="product-container">
  {% for list in hotel_list %}
  <div class="product_details">
    <div class="product_colors"></div>
    <div class="product_title">
      <div class="hotel_item_v2">
        <a
          href="{{url_for('hotel_detail',id = list['id'], geocode_lat = list['geocode_lat'], geocode_lng= list['geocode_lng'])}}"
          class="hotel_img"
        >
          <img
            src="{{list['image_url']}}"
            border="0px"
            width="220"
            height="120"
          />
        </a>
        <i class=""></i>
        <div class="hotel_name"></div>
      </div>
      <div class="hotel_item">
        <i class=""></i>
        {{list['category']}} {{list['name']}}&nbsp;
        <div>
          {{list['hotel_near_location']}}約{{(list['hotel_near_location_meter']/1000)|float}}公里
        </div>
      </div>
      <div class="hotel_item">
        <i class=""></i>
        推薦{{list['hotel_rating_avg_score']}}分,{{list['hotel_rating_count']}}評價數&nbsp;&nbsp;
      </div>
      <div class="hotel_item">
        <i class=""></i>
        我們住宿一晚價格{{list['hotel_best_price_per_stay']}}&nbsp;
      </div>
    </div>
    <a></a>
  </div>
  {% endfor %} {%endif%}{% endblock content %}
</div>
